<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">ACCEUIL<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="anime">ANIMÉS<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="lists">LISTES<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signin">SE CONNECTER<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="help">AIDE<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div id="searchGroup" class="input-group">
        <input id="searchInput" class="form-control" type="search" placeholder="Rechercher un animé" aria-label="Search">
        <div class="input-group-append">
          <button id="searchButton" class="btn my-2 my-sm-0" type="submit"><img id="imgLoop" src="loupe.png"></button>
        </div>
      </div>
    </form>
  </div>
</nav>
