#body {
  background-image: url("https://media.discordapp.net/attachments/554665071587098627/779357661740793866/thumb-1920-656029.png?width=1204&height=677");
}

table {
  color: white;
  background-color: dimgrey;
}
